@import './index.scss';

$transition: all 250ms ease;

#grid-footer {
  background-color: var(--footer-background);
  color: #FFFFFF;
}

#icons {
  font-size: 60px;
  transition: $transition;

  &:hover {
    transform: translateY(-5px);
    transition: $transition;
  }
}