@import './index.scss';

$transition: all 250ms ease;

#grid-home {
  margin: 20px auto;
}

#poster {
  background-color: var(--poster-background);
  margin: 20px 0px;
  border-top: solid 5px var(--border-color);
  border-left: solid 5px var(--border-color);
  border-bottom: solid 5px var(--border-color);
  border-radius: 20px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

#poster1 {
  background-color: var(--poster-background);
  margin: 20px 0px;
  border-top: solid 5px var(--border-color);
  border-right: solid 5px var(--border-color);
  border-bottom: solid 5px var(--border-color);
  border-radius: 20px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}


#skyline {
  width: 600px;
  height: 400px;
}

a {
  text-decoration: none;
  color: black;
}

#links { 
  transition: $transition;

  &:hover {
    transform: translateY(-5px);
    transition: $transition;
  }
}

#section {
  font-weight: bold;
  padding-top: 20px;
}

#icon {
  width: 60px;
  height: 60px;
  margin: 10px;
}

#key-skills {
  background-color: var(--key-background);
  border: solid 5px var(--border-color);
  border-radius: 20px;
}

#about-me {
  max-width: 900px;
  background-color: var(--about-background);
  border: solid 5px var(--border-color);
  border-radius: 20px;
}