:root {
  --backdrop: #FFFFFF;
  --icon-back: #FFFFFF;
  --btn-color-1: #FFFFFF;
  --btn-color-2: #0076AD;
  --header-background: #0098E0;
  --footer-background: #0098E0;
  --spinner: #FFFFFF;
  --spinner-hover: #0076AD;
  --portrait-left: #004261;
  --portrait-right: #FFFFFF;
  --project-background: #FFFFFF;
  --project-title-background: #FFFFFF;
  --poster-background: #FFFFFF;
  --about-background: #FFFFFF;
  --key-background: #FFFFFF;
  --resume-sec-background: #FFFFFF;
  --border-color: #0098E0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-x: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-x: inherit;
}

.App {
  height: 100vh;
  width: 100vw;
  max-width: 900px;
  padding: 1rem;
}

#container {
  background-color: var(--backdrop);
}