@import './index.scss';

$transition: all 250ms ease;

#project-title {
  max-width: 900px;
  margin: 20px auto;
  background-color: var(--project-title-background);
  border: solid 5px var(--border-color);
  border-radius: 20px;
}

#projects {
  background-color: var(--project-background);
  max-width: 550px;
  width: 550px;
  margin: 20px auto;
  border: solid 5px var(--border-color);
  border-radius: 20px;
}

#card-image {
  border-top: solid 5px var(--border-color);
  border-bottom: solid 5px var(--border-color);
}

#link-icon {
  font-size: 40px;
  transition: $transition;

  &:hover {
    transform: translateY(-5px);
    transition: $transition;
  }
}
