@import './index.scss';

#project-title {
  max-width: 900px;
  margin: 20px auto;
  background-color: var(--project-title-background);
}

#projects {
  background-color: var(--project-background);
  max-width: 550px;
  min-width: 550px;
  margin: 20px auto;
}
