@import './index.scss';

#grid-resume {
  max-width: 800px;
  margin: 30px auto;
}

#download {
  width: 60px;
  height: 60px;
}

#resume-section {
  margin: 20px 0px;
  background-color: var(--resume-sec-background);
}
