@import './index.scss';

$transition: all 250ms ease;

#grid-resume {
  max-width: 800px;
  margin: 30px auto;
}

#download {
  width: 60px;
  height: 60px;
  transition: $transition;

  &:hover {
    transform: translateY(-5px);
    transition: $transition;
  }
}

#resume-section {
  margin: 20px 0px;
  background-color: var(--resume-sec-background);
  border: solid 5px var(--border-color);
  border-radius: 20px;
}
